<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PathFinder"
        tools:targetApi="31">

        <!-- Activity declarations -->

        <!-- Audio Engineer activity -->
        <activity
            android:name=".audioengineer"
            android:exported="false" />

        <!-- Voiceover activity -->
        <activity
            android:name=".voiceover"
            android:exported="false" />

        <!-- Music Therapy activity -->
        <activity
            android:name=".musictherapy"
            android:exported="false" />

        <!-- Cubase activity -->
        <activity
            android:name=".cubase"
            android:exported="false" />

        <!-- Instrument activity -->
        <activity
            android:name=".instrument"
            android:exported="false" />

        <!-- Guitar activity -->
        <activity
            android:name=".guitar"
            android:exported="false" />

        <!-- Singer activity -->
        <activity
            android:name=".singer"
            android:exported="false" />

        <!-- Music activity -->
        <activity
            android:name=".music"
            android:exported="false" />

        <!-- Photoshop activity -->
        <activity
            android:name=".photoshop"
            android:exported="false" />

        <!-- Adobe XD activity -->
        <activity
            android:name=".adobe"
            android:exported="false" />

        <!-- Figma activity -->
        <activity
            android:name=".figma"
            android:exported="false" />

        <!-- Web Designer activity -->
        <activity
            android:name=".webdesigner"
            android:exported="false" />

        <!-- Home Activity -->
        <activity
            android:name=".Home"
            android:exported="true" />

        <!-- Login Activity -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
